.App {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  align-content: space-between;
}
.counter {
  display: flex;
  border: 10px solid #092e75;
}
.board {
  align-items: center;
  display: flex;
  border: 5px solid #092e75;
  justify-content: center;
  height: 249px;
}
.boardValue {
  font-weight: bold;
  color: #092e75;
  font-size: 100px;
  font-family: Geneva, Arial, Helvetica, sans-serif;
}
.boardMax {
  border-right: none;
  border-left: none;
  width: 100%;
  background-color: cornflowerblue;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: space-between;
  justify-content: space-around;
  display: flex;
  font-weight: bold;
  font-size: 100px;
  color: red;
  text-align: center;
  font-family: Geneva, Arial, Helvetica, sans-serif
}

.boardError {
  background-color: white;
  font-size: 40px;
  font-weight: bold;
  color: red;
  font-family: Geneva, Arial, Helvetica, sans-serif;
}

.boardSetValue {
  font-size: 24px;
  color: #092e75;
  font-family: Geneva, Arial, Helvetica, sans-serif;
}


.buttons-div {
  display: flex;
  border: 5px solid #092e75;
}

.button {
  background-color:  #092e75;
  border: 2px solid #092e75;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 30px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:active {
  color: #092e75;
  background-color: white;
  transition-duration: 0.4s;
}
.button:disabled {
  background-color: white;
  color: #092e75;
  cursor: not-allowed;
  opacity: 0.5;
}
